:root {
    --darker-bg: #151515;
    --lighter-bg: #353535;
    --grey: #464646;
    --main-color: #00a800;
    --sub-color: #00ff01;
    font-family: "Raleway";
}

body {
    background-color: var(--grey);
    color: white;
    margin: 0;
}

nav {
    top: 0;
    width: 100%;
    background-color: var(--lighter-bg);
}

#nav-full ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 50px;
    background-color: var(--lighter-bg);
    font-size: 20px;
}

#nav-full li {
    float: right;
}

#nav-left {
    float: left;
}

#nav-full li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-full img {
    height: 100%;
}

#nav-full li a:hover {
    color: var(--main-color);
    background-color: var(--grey);
    border: 2px;
}

#content {
    padding-left: 10%;
    padding-right: 10%;
}

.imagePepe {
    width: 40%;
    height: 40%;
    margin: 0% 2% 5% 2%;
    padding-left: 25%;
}

.pepe img {
    max-width: 900px;
    width: 40%;
}