<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Only Pepes</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/font.css" />
    <link rel="stylesheet" href="css/pepeUpload.css" />
</head>

<body>
    <div class="header">
        <a href="index.php"><img src="media/logo-dark-mode.png" class="logo" /></a>

        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="upload.php" class="nav-link">Add Pepe</a></li>
            <li><a href="#" class="nav-link">Top Pepes</a></li>
            <li><a href="#" class="nav-link">Fresh Pepes</a></li>
            <li><a href="#" class="nav-link">Wednesday</a></li>
        </ul>
    </div>